button {
    width: 200px;
    font-size: 20px;

    color: #65cfe6;
}
#name {
    color: #65cfe6;
    font-size: 20px;

}

#days {
    color: #65cfe6;
    font-size: 20px;
}
#month {
    color: #65cfe6;
    font-size: 20px;
}
p {
    color: #65cfe6;
    font-size: 25px;
}

body {
    background-color: #4564e6;
}
#title {
    font-size: 50px;
}
#horoscope {
    font-size:30px;
    color: #65cfe6;
}